.abra{

padding-top: 200px;
}
.gomb {
    background-color: rgb(248, 39, 39);
    width:50px;
    height:50px;
    margin:auto;
    border-radius:50%
}
.felsoharomszog {
    
    margin:auto;
  width: 10px;
  height: 0;
  border-left: 60px solid transparent;   /* bal oldal */
  border-right: 60px solid transparent;  /* jobb oldal */
  border-bottom: 70px solid rgb(10, 99, 59);        /* a háromszög színe és magassága */
}

.haromszog {
    margin:auto;
  width: 50px;
  height: 0;
  border-left: 100px solid transparent;   /* bal oldal */
  border-right: 100px solid transparent;  /* jobb oldal */
  border-bottom: 120px solid rgb(10, 99, 59);        /* a háromszög színe és magassága */
}



.alsoharomszog {
    margin:auto;
  width: 120px;
  height: 0;
  border-left: 140px solid transparent;   /* bal oldal */
  border-right: 140px solid transparent;  /* jobb oldal */
  border-bottom: 180px solid rgb(10, 99, 59);        /* a háromszög színe és magassága */
}
.torzs{
    margin:auto;
    width:80px;
    height: 100px;
    background-color: brown;
}